@charset "UTF-8";
.icono{
	font-size:22px;color:#FFFFFF;
	margin-right:5px;
}
.pClientes{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.botonCL{
	margin:10px;
	width:200px;
}
.iC{
	margin:10px;
}
.menuClientes{
	width:100%;
	height:500px;
	display:flex;
	justify-content:center;
	background-color:#eeeeee;
	text-align:center;
	flex-direction:column;
	margin-top:10%;
	border-radius:20px;
}