<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<head>
		<link rel="stylesheet" th:href="@{/css/Estilosmenu1.css}">
        <title>Bienvenido</title>
    </head>
    <body>
    <div class="principal">
    <div class="container">
    	<div class="brand_logo_container">
			<img th:src="@{/Images/user.png}" class="brand_logo" alt="Logo">
		</div>
    	<h1 th:inline="text" class="texto">Bienvenido [[${#httpServletRequest.remoteUser}]]</h1>
        <!--Es Cliente.-->
		<div class="elemento" th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}">
	        <h1><a class="boton" th:href="@{/}"> Ir a cliente</a>
		</div>
		<!--Es Admin.j -->
		<div class="elemento" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
		    <h1><a class="boton" th:href="@{/admin}">Ir a Administrador</a>
		</div>
        <form th:action="@{/logout}" method="post">
	            <input class="logout" type="submit" value="Cerrar Sesion"/>
	    </form>
	</div>
    </div>
    
    
    
        
    </body>
</body>
</html>